.form-container {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 40%;
}


.table-box {
  height: 90vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-box table {
  width: 40%;
}